<mat-card>
    <mat-card-header *ngIf="!isEdit">create Team</mat-card-header>
    <mat-card-header *ngIf="isEdit">Edit Team </mat-card-header>
    

<form #f="ngForm">
    <div class="col-12 col-xl-3 col-lg-4 col-md-6">
        <mat-form-field class="w-100">
            <mat-label>Team Name</mat-label>
            <input type="text" name="teamName" matInput required #teamName="ngModel" [(ngModel)]="model.teamName">
        </mat-form-field>
    </div>
    <div class="col-12 col-xl-3 col-lg-4 col-md-6">
        <mat-form-field class="w-100">
            <mat-label>Team Type</mat-label>
            <mat-select required name="teamType" #teamType="ngModel" [(ngModel)]="model.teamType">
                <mat-option *ngFor="let item of teamstype" [value]="item.value">{{item.value}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-12 col-xl-3 col-lg-4 col-md-6">
        <mat-form-field class="w-100">
            <mat-label>Caption</mat-label>
    <input type="text" placeholder="Pick one" name="autooo" aria-label="Number" matInput [formControl]="autocompletemodel"   [matAutocomplete]="auto">
     <mat-autocomplete #auto="matAutocomplete">
       <mat-option *ngFor="let option of filteredOptions" [value]="option.playerName">
         {{option.playerName}}
       </mat-option>
     </mat-autocomplete>
        </mat-form-field>
    </div>
    <div class="col-12 col-xl-3 col-lg-4 col-md-6">
        <mat-form-field class="w-100">
            <mat-label>City</mat-label>
            <input type="text" name="cityname" matInput required #cityname="ngModel" [(ngModel)]="model.city">
        </mat-form-field>
    </div>
</form>

<button class="btn btn-primary" id="btnclick" (click)="createpostcall()"  >text</button>

</mat-card>